/* index.css */

/* General styling */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  /* Scrollbar styling */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4CAF50;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #333;
  }
  